{{ template "header.html" . }}

<head>
  <link rel="stylesheet" href="/static/css/blogpost.css">
  <link rel="stylesheet" href="/static/css/markdown.css">
  <link rel="stylesheet" href="/static/css/syntax-highlighting.css">
</head>

<section class="lg:w-1/2 mx-auto p-4">
  {{ template "nav.html" .}}
  
  <section class="mb-12 mt-4">
    <!-- Add the Back to Blog button here -->
    <div class="mb-4 flex items-center space-x-4">
      <a href="/blogs"
        class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-sm text-purple-700 hover:bg-purple-200 hover:text-purple-800 transition duration-300 ease-in-out">
        ← Back to Blogs
      </a>
    </div>

    <div class="blog-header">
      <h1 class="blog-title font-serif italic">{{ .blog.Title }}</h1>
      <p class="blog-date">{{ .blog.Date }}</p>
    </div>

    <div class="bg-white border border-gray-200 p-6 rounded-lg relative">
      <div class="blog-tags">
        {{ range .blog.Tags }}
        <span class="whitespace-nowrap rounded-full border border-purple-500 px-2.5 py-0.5 text-sm text-purple-700">
          {{ . }}
        </span>
        {{ end }}
      </div>
      <article class="blog-content text-gray-700">
        {{ .blog.Content }}
      </article>
    </div>
  </section>
</section>

{{ template "footer.html" . }}
