{{ template "header.html" . }}

<head>
  <link rel="stylesheet" href="/static/css/blogpost.css">
</head>

<section class="lg:w-1/2 mx-auto pt-20">
  <section class="mb-12">
    <div class="text-center mb-6">
      <h1 class="font-heading text-3xl font-bold text-gray-900">
        <span class="font-serif italic">{{ .blog.Title }}</span>
      </h1>
    </div>

    <div class="bg-white border border-gray-200 p-6 rounded-lg">
      <article class="text-gray-700 custom-blog-content">  <!-- Added custom class -->
        {{ .blog.Content }}  <!-- Ensure HTML rendering of the blog content -->
      </article>
    </div>
  </section>
</section>

{{ template "footer.html" . }}

