{{ template "header.html" .}}

<div class="lg:w-1/2 mx-auto p-4">
  {{ template "nav.html" .}}

  <section class="mt-16">
    <h2 class="text-3xl font-bold text-gray-900 mb-4 block font-serif italic">
      Life Changelog
    </h2>

    <div class="ps-2 my-2">
      <h3 class="text-xs font-medium uppercase text-gray-500">
        Jun 2024 - Present · 2 mos
      </h3>
      <div class="flex gap-x-3">
        <div class="relative">
          <div class="size-7 flex justify-center items-center">
            <div class="size-2 rounded-full bg-gray-400"></div>
          </div>
        </div>
        <div class="grow pt-0.5 pb-8">
          <h3 class="font-semibold text-gray-800">
            Software Development Consultant at RAPIDFORT · Internship
          </h3>
          <p class="text-sm text-gray-600">
            Sunnyvale, California, United States · Remote
          </p>
        </div>
      </div>
    </div>

    <div class="ps-2 my-2">
      <h3 class="text-xs font-medium uppercase text-gray-500">
        Jul 2023 - Present · 1 yr 1 mo
      </h3>
      <div class="flex gap-x-3">
        <div class="relative">
          <div class="size-7 flex justify-center items-center">
            <div class="size-2 rounded-full bg-gray-400"></div>
          </div>
        </div>
        <div class="grow pt-0.5 pb-8">
          <h3 class="font-semibold text-gray-800">
            President at GeeksforGeeks ABESEC
          </h3>
          <p class="text-sm text-gray-600">Ghaziabad, Uttar Pradesh, India</p>
        </div>
      </div>
    </div>

    <div class="ps-2 my-2">
      <h3 class="text-xs font-medium uppercase text-gray-500">
        Oct 2022 - Jul 2023 · 10 mos
      </h3>
      <div class="flex gap-x-3">
        <div class="relative">
          <div class="size-7 flex justify-center items-center">
            <div class="size-2 rounded-full bg-gray-400"></div>
          </div>
        </div>
        <div class="grow pt-0.5 pb-8">
          <h3 class="font-semibold text-gray-800">
            Frontend Coordinator at GeeksforGeeks ABESEC
          </h3>
        </div>
      </div>
    </div>

    <div class="ps-2 my-2">
      <h3 class="text-xs font-medium uppercase text-gray-500">
        Jan 2023 - Present · 1 yr 7 mos
      </h3>
      <div class="flex gap-x-3">
        <div class="relative">
          <div class="size-7 flex justify-center items-center">
            <div class="size-2 rounded-full bg-gray-400"></div>
          </div>
        </div>
        <div class="grow pt-0.5 pb-8">
          <h3 class="font-semibold text-gray-800">
            Core Team Member at Elixir Tech Community · Part-time
          </h3>
          <p class="text-sm text-gray-600">Remote</p>
        </div>
      </div>
    </div>

    <div class="ps-2 my-2">
      <h3 class="text-xs font-medium uppercase text-gray-500">
        May 2023 - Oct 2023 · 6 mos
      </h3>
      <div class="flex gap-x-3">
        <div class="relative">
          <div class="size-7 flex justify-center items-center">
            <div class="size-2 rounded-full bg-gray-400"></div>
          </div>
        </div>
        <div class="grow pt-0.5 pb-8">
          <h3 class="font-semibold text-gray-800">
            Google Summer of Code Contributor at Jenkins · Part-time
          </h3>
          <p class="text-sm text-gray-600">Remote</p>
          <p class="text-sm text-gray-600">
            Details:
            <a
              href="https://summerofcode.withgoogle.com/archive/2023/projects/5B6EgSAn"
              class="text-blue-600 hover:underline"
              >GSoC archives</a
            >
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

{{ template "footer.html" .}}
