{{ template "header.html" .}}

<div class="container mx-auto py-12 px-6 bg-white">
  {{ template "nav.html" .}}

  <section class="mt-12">
    <h2 class="text-4xl font-bold text-gray-900 mb-12 font-serif text-center">
      Life Changelog
    </h2>

    <div class="relative">
      <div class="border-l-2 border-gray-300 absolute h-full left-8"></div>

      {{ range .Changelogs }}
      <div class="mb-12 ml-20 relative">
        <div>
          <h3 class="text-2xl font-semibold text-gray-800">{{ .Title }}</h3>
          <span class="text-sm text-gray-500">{{ .DateRange }}</span>
        </div>

        <div class="mt-2 text-sm text-gray-600">
          {{ if .Company }}
          <span class="font-medium">{{ .Company }}</span><br />
          {{ end }}
          <span>{{ .Location }}</span>
        </div>

        {{ if .DetailsURL }}
        <div class="mt-4">
          <a
            href="{{ .DetailsURL }}"
            class="text-blue-600 hover:underline text-sm font-medium"
          >
            Learn more
          </a>
        </div>
        {{ end }}
      </div>
      {{ end }}
    </div>
  </section>
</div>

{{ template "footer.html" .}}
