{{ template "header.html" .}}

<section class="lg:w-1/2 mx-auto p-4">
  {{ template "nav.html" .}}

  <section class="mb-16">
    <h1 class="font-heading text-4xl font-bold text-black mb-12 mt-8">
      <span class="font-serif italic">Experiences.</span>
    </h1>

    <div class="space-y-8">
      {{ range .Experiences }}
      <div class="flex items-start ml-2">
        <div class="flex-shrink-0">
          <svg viewBox="0 0 512 512" id="icons" xmlns="http://www.w3.org/2000/svg" fill="#FFFFFF" width="40" height="40"> <!-- Changed fill to white and added width/height -->
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <path d="M259.92,262.91,216.4,149.77a9,9,0,0,0-16.8,0L156.08,262.91a9,9,0,0,1-5.17,5.17L37.77,311.6a9,9,0,0,0,0,16.8l113.14,43.52a9,9,0,0,1,5.17,5.17L199.6,490.23a9,9,0,0,0,16.8,0l43.52-113.14a9,9,0,0,1,5.17-5.17L378.23,328.4a9,9,0,0,0,0-16.8L265.09,268.08A9,9,0,0,1,259.92,262.91Z" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"></path>
              <polygon points="108 68 88 16 68 68 16 88 68 108 88 160 108 108 160 88 108 68" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"></polygon>
              <polygon points="426.67 117.33 400 48 373.33 117.33 304 144 373.33 170.67 400 240 426.67 170.67 496 144 426.67 117.33" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"></polygon>
            </g>
          </svg>
        </div>
        <div class="ml-4 flex-grow">
          <div class="flex items-center mb-1">
            <h4 class="text-xl font-semibold text-black">
              <a href="{{ .CompanyURL }}" target="_blank" rel="noopener noreferrer" class="hover:no-underline">{{ .Company }}</a>
            </h4>
          </div>
          <div class="flex justify-between text-black mb-2">
            <div class="inline-block text-md font-semibold text-purple-900 bg-purple-50 rounded-full p-2">{{ .Title }}</div>
            <div class="text-gray-600">{{ .DateRange }}</div>
          </div>
          <ul class="list-disc pl-6 mt-2 text-black">
            {{ range .Responsibilities }}
            <li>{{ . }}</li>
            {{ end }}
          </ul>
        </div>
      </div>
      <div class="border border-gray-200 w-full my-8"></div>
      {{ end }}
    </div>
  </section>
</div>

{{ template "footer.html" .}}

