<!--header.html-->

<!doctype html>
<html>
  <head>
    <!--Use the title variable to set the title of the page-->
    <title>vandit's site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <style></style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/franken-ui@1.0.0/dist/css/zinc.min.css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      .text-bright-green {
        fill: #00ff00; /* Bright green color */
      }

      .glow-effect {
        filter: drop-shadow(0px 0px 6px #00ff00); /* Glowing effect */
      }
    </style>
  </head>

  <body></body>
</html>
