<div class="overflow-x-hidden">
  <section class="pt-10 sm:pt-10">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="max-w-2xl mx-auto items-center">
        <p class="mt-8 text-base text-gray-500 font-inter text-center"></p>
        <div class="text-center mb-6">
          <span class="inline-block py-1 px-3 mb-4 text-md font-semibold text-purple-900 bg-purple-50 rounded-full">
            नमस्ते
          </span>
        </div>
      </div>
    </div>
  </section>
</div>
