{{ template "header.html" .}} {{ template "hero.html" .}}

<!-- component -->

<!--Loop over the payload variable, which is the list of articles-->
<!--Create the link for the article based on its ID-->
<!-- component -->
<div class="m-6 flex flex-col justify-center py-auto">
  <!-- Intro section -->
  <section class="flex flex-col justify-center mb-12">
    <h1 class="font-heading text-4xl font-bold text-gray-900 mb-4">
      <span class="block font-serif italic">Hi, I am Vandit</span>
    </h1>
    <p>
      Passionate software engineer interested in open-source, cloud-native
      technologies and backend.
    </p>
  </section>

  <!-- Changelog -->
  <div>
    <h2 class="text-3xl font-bold text-gray-900 mb-4 block font-serif italic">
      Life Changelog
    </h2>
    <!-- Heading -->
    <div class="ps-2 my-2 first:mt-0">
      <h3 class="text-xs font-medium uppercase text-gray-500">
        Jun 2024 - Present · 2 mos
      </h3>
    </div>
    <!-- End Heading -->

    <!-- Item -->
    <div class="flex gap-x-3">
      <!-- Icon -->
      <div
        class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200"
      >
        <div class="relative z-10 size-7 flex justify-center items-center">
          <div class="size-2 rounded-full bg-gray-400"></div>
        </div>
      </div>
      <!-- End Icon -->

      <!-- Right Content -->
      <div class="grow pt-0.5 pb-8">
        <h3 class="flex gap-x-1.5 font-semibold text-gray-800">
          Software Development Consultant at RAPIDFORT · Internship
        </h3>
        <p class="mt-1 text-sm text-gray-600">
          Sunnyvale, California, United States · Remote
        </p>
      </div>
      <!-- End Right Content -->
    </div>
    <!-- End Item -->

    <!-- Heading -->
    <div class="ps-2 my-2 first:mt-0">
      <h3 class="text-xs font-medium uppercase text-gray-500">
        Jul 2023 - Present · 1 yr 1 mo
      </h3>
    </div>
    <!-- End Heading -->

    <!-- Item -->
    <div class="flex gap-x-3">
      <!-- Icon -->
      <div
        class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200"
      >
        <div class="relative z-10 size-7 flex justify-center items-center">
          <div class="size-2 rounded-full bg-gray-400"></div>
        </div>
      </div>
      <!-- End Icon -->

      <!-- Right Content -->
      <div class="grow pt-0.5 pb-8">
        <h3 class="flex gap-x-1.5 font-semibold text-gray-800">
          President at GeeksforGeeks ABESEC
        </h3>
        <p class="mt-1 text-sm text-gray-600">
          Ghaziabad, Uttar Pradesh, India
        </p>
        <ul class="mt-1 text-sm text-gray-600 list-disc pl-5">
          <li>
            Worked well with others, coordinating with team members to achieve
            successful project outcomes and foster a strong community.
          </li>
          <li>Lead and guided the team to achieve our goals.</li>
          <li>Planned and organized various events and workshops.</li>
          <li>Oversaw and managed all community activities and initiatives.</li>
        </ul>
      </div>
      <!-- End Right Content -->
    </div>
    <!-- End Item -->

    <!-- Heading -->
    <div class="ps-2 my-2 first:mt-0">
      <h3 class="text-xs font-medium uppercase text-gray-500">
        Oct 2022 - Jul 2023 · 10 mos
      </h3>
    </div>
    <!-- End Heading -->

    <!-- Item -->
    <div class="flex gap-x-3">
      <!-- Icon -->
      <div
        class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200"
      >
        <div class="relative z-10 size-7 flex justify-center items-center">
          <div class="size-2 rounded-full bg-gray-400"></div>
        </div>
      </div>
      <!-- End Icon -->

      <!-- Right Content -->
      <div class="grow pt-0.5 pb-8">
        <h3 class="flex gap-x-1.5 font-semibold text-gray-800">
          Frontend Coordinator at GeeksforGeeks ABESEC
        </h3>
      </div>
      <!-- End Right Content -->
    </div>
    <!-- End Item -->

    <!-- Heading -->
    <div class="ps-2 my-2 first:mt-0">
      <h3 class="text-xs font-medium uppercase text-gray-500">
        Jan 2023 - Present · 1 yr 7 mos
      </h3>
    </div>
    <!-- End Heading -->

    <!-- Item -->
    <div class="flex gap-x-3">
      <!-- Icon -->
      <div
        class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200"
      >
        <div class="relative z-10 size-7 flex justify-center items-center">
          <div class="size-2 rounded-full bg-gray-400"></div>
        </div>
      </div>
      <!-- End Icon -->

      <!-- Right Content -->
      <div class="grow pt-0.5 pb-8">
        <h3 class="flex gap-x-1.5 font-semibold text-gray-800">
          Core Team Member at Elixir Tech Community · Part-time
        </h3>
        <p class="mt-1 text-sm text-gray-600">Remote</p>
        <ul class="mt-1 text-sm text-gray-600 list-disc pl-5">
          <li>
            Building Elixir Tech Community to help and spread awareness among
            Students
          </li>
          <li>
            Built the website for Elixir Community following all the code
            practices. The site was built with React, Next.js and Tailwind.
          </li>
          <li>
            Collaborated with other members of the community on adding new
            features to the website.
          </li>
          <li>
            Organized events to guide students about various technologies.
          </li>
        </ul>
      </div>
      <!-- End Right Content -->
    </div>
    <!-- End Item -->

    <!-- Heading -->
    <div class="ps-2 my-2 first:mt-0">
      <h3 class="text-xs font-medium uppercase text-gray-500">
        May 2023 - Oct 2023 · 6 mos
      </h3>
    </div>
    <!-- End Heading -->

    <!-- Item -->
    <div class="flex gap-x-3">
      <!-- Icon -->
      <div>
        <div class="relative z-10 size-7 flex justify-center items-center">
          <div class="size-2 rounded-full bg-gray-400"></div>
        </div>
      </div>
      <!-- End Icon -->

      <!-- Right Content -->
      <div class="grow pt-0.5 pb-8">
        <h3 class="flex gap-x-1.5 font-semibold text-gray-800">
          Google Summer of Code Contributor at Jenkins · Part-time
        </h3>
        <p class="mt-1 text-sm text-gray-600">Remote</p>
        <ul class="mt-1 text-sm text-gray-600 list-disc pl-5">
          <li>
            Written industry grade code to migrate the existing Documentation
            Site to a versioned alternative that is used by around approximately
            100k+ developers who use Jenkins for CI.
          </li>
          <li>
            Contributed code in Jenkins-infra where I learned about Helm, CI/CD
            Pipelines and Cloud Native technologies.
          </li>
          <li>Used my knowledge of Java in modernizing the plugins.</li>
          <li>
            Modernized multiple plugins extensively used by Developers with
            Jenkins for CI/CD pipelines.
          </li>
          <li>
            Collaborated with maintainers of some plugins on adding new features
            to plugins.
          </li>
          <li>
            more on:
            <a
              href="https://summerofcode.withgoogle.com/archive/2023/projects/5B6EgSAn"
              class="text-blue-600 hover:underline"
            >
              google summer of code's archives</a
            >
          </li>
        </ul>
      </div>
      <!-- End Right Content -->
    </div>
    <!-- End Item -->
  </div>
  <!-- End Timeline -->

  <!-- Projects Sections -->
  <section class="mb-12">
    <h2 class="text-3xl font-bold text-gray-900 mb-4 block font-serif italic">
      • Projects
    </h2>
    <!-- Card Container -->
    <div class="flex gap-4 flex-wrap">
      <!-- CARD -->
      <div
        class="max-w-xs flex flex-row bg-white border border-t-4 border-t-blue-600 shadow-sm rounded-xl"
      >
        <div class="p-4 md:p-5">
          <h3 class="text-lg font-bold text-gray-800">Card title</h3>
          <p class="mt-2 text-gray-500">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a
            class="mt-3 inline-flex items-center gap-x-1 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none"
            href="#"
          >
            Card link
            <svg
              class="flex-shrink-0 size-4"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="m9 18 6-6-6-6"></path>
            </svg>
          </a>
        </div>
      </div>
      <div
        class="max-w-xs flex flex-row bg-white border border-t-4 border-t-blue-600 shadow-sm rounded-xl"
      >
        <div class="p-4 md:p-5">
          <h3 class="text-lg font-bold text-gray-800">Card title</h3>
          <p class="mt-2 text-gray-500">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a
            class="mt-3 inline-flex items-center gap-x-1 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none"
            href="#"
          >
            Card link
            <svg
              class="flex-shrink-0 size-4"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="m9 18 6-6-6-6"></path>
            </svg>
          </a>
        </div>
      </div>
      <div
        class="max-w-xs flex flex-row bg-white border border-t-4 border-t-blue-600 shadow-sm rounded-xl"
      >
        <div class="p-4 md:p-5">
          <h3 class="text-lg font-bold text-gray-800">Card title</h3>
          <p class="mt-2 text-gray-500">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a
            class="mt-3 inline-flex items-center gap-x-1 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none"
            href="#"
          >
            Card link
            <svg
              class="flex-shrink-0 size-4"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="m9 18 6-6-6-6"></path>
            </svg>
          </a>
        </div>
      </div>
      <div
        class="max-w-xs flex flex-col bg-white border border-t-4 border-t-blue-600 shadow-sm rounded-xl"
      >
        <div class="p-4 md:p-5">
          <h3 class="text-lg font-bold text-gray-800">Card title</h3>
          <p class="mt-2 text-gray-500">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a
            class="mt-3 inline-flex items-center gap-x-1 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none"
            href="#"
          >
            Card link
            <svg
              class="flex-shrink-0 size-4"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="m9 18 6-6-6-6"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </section>

  <div class="pyramid-loader">
    <div class="wrapper">
      <span class="side side1"></span>
      <span class="side side2"></span>
      <span class="side side3"></span>
      <span class="side side4"></span>
      <span class="shadow"></span>
    </div>
  </div>
</div>

{{ template "footer.html" .}}
