<!-- intro section -->
<section
  class="flex flex-col-reverse md:flex-row justify-between items-center mt-8"
>
  <div class="md:w-2/3 mt-6 md:mt-0">
    <h1 class="font-heading text-4xl font-bold text-gray-900">
      <span class="block font-serif italic">Hi, I am Vandit</span>
    </h1>
    <p class="mt-4 text-gray-600">
      Software Engineering Intern @RapidFort, USA | GSoC'24 Mentor @ Jenkins |
      GSoC'23 Mentee @Jenkins | Cloud Native and Golang passionate software
      engineer interested in open-source, cloud-native technologies, and
      backend.
    </p>
    <br />
    <p class="text-gray-600 flex">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="#00FF00"
        xmlns="http://www.w3.org/2000/svg"
        class="text-bright-green glow-effect"
      >
        <path
          d="M9 21.5L17.5 13L13 10L15 2.5L6.5 11L11 14L9 21.5Z"
          fill="currentColor"
        />
      </svg>
      Currently, contributing to Prometheus
    </p>
  </div>

  <div class="h-40 w-40">
    <img
      src="../assets/images/vandit-singh.png"
      alt="Vandit's Image"
      class="h-full w-full rounded-lg shadow-lg object-cover"
    />
  </div>
</section>
