<!-- intro section -->
<section
  class="flex flex-col-reverse md:flex-row justify-between items-center mt-8"
>
  <div class="md:w-2/3 mt-6 md:mt-0">
    <h1 class="font-heading text-4xl font-bold text-gray-900">
      <span class="block font-serif italic">Hi, I am Vandit</span>
    </h1>
    <p class="mt-4 text-gray-600">
      Software Engineering Intern @RapidFort, USA | GSoC'24 Mentor @ Jenkins | GSoC'23 Mentee @Jenkins
      Cloud Native and Golang passionate software engineer interested in open-source, cloud-native technologies, and backend.
    </p>
  </div>

  <div class="h-40 w-40">
    <img
      src="../assets/images/vandit-singh.png"
      alt="Vandit's Image"
      class="h-full w-full rounded-lg shadow-lg object-cover"
    />
  </div>
</section>
